.team-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  padding: 0 2rem;

  &__logo {
    width: 90%;
    height: auto;
    vertical-align: middle;

    &--losses {
      // transform: rotateY(180deg);
      //filter: hue-rotate(45deg);
      // filter: invert(100%) hue-rotate(326deg);
      //filter: contrast(25%);
      //filter: blur(3px);
      // filter: grayscale(100%);
      // filter: invert(39%) sepia(68%) saturate(1981%) hue-rotate(326deg)
      //   brightness(109%) contrast(93%);
    }
  }

  &__points {
    line-height: 1.3;
    font-size: 2rem;

    &--wins {
      color: rgb(0, 152, 0);
    }

    &--losses {
      color: rgb(170, 0, 0);
    }
  }
}
