.button {
  padding: 1rem 5rem;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 3px;
  border: 2px solid black;
  background: none;
  box-shadow: none;
  outline: none;
  transition: all 0.2s;
  background-color: white;

  &:hover,
  &:focus {
    color: white;
    background: black;
    cursor: pointer;
  }
}
