.dropdown {
  &__list {
    &-div {
      position: fixed;
      right: 4rem;
      top: 5rem;
    }

    &-ul {
      text-align: right;
      list-style: none;
    }

    &-item {
      margin-top: 1rem;
    }
  }
}
