.dropdown {
  position: relative;
  width: 20rem;

  @media (max-width: 700px) {
    width: 15rem;
  }

  @media (max-width: 500px) {
    width: 12rem;
  }

  &__toggle {
    width: 100%;

    &--open {
      text-align: right;
      padding-right: 1rem;
    }

    @media (max-width: 500px) {
      padding: 1rem 2rem;
    }

    @media (max-width: 400px) {
      padding: 1rem;
    }
  }

  &__div {
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 100;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  &__button {
    display: block;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    border: none;
    background: none;
    padding: 1.5rem 1rem;
  }

  &__button:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}
