.card {
  --font-xl: 2.2rem;
  --font-lg: 2rem;
  --font-md: 1.6rem;
  --font-sm: 1.4rem;
  --main: black;
  --dim: grey;

  min-width: 45rem;
  border: 2px solid black;
  margin: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  //@media screen and (min-width: )

  a {
    color: black;
    text-decoration: none;
  }

  &__header-row {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-sm);
    font-style: italic;
    color: grey;

    div {
      padding: 0 5px;
    }
  }

  &__team-row {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 0.5rem;
  }

  &__logo {
    width: 3em;
    height: auto;
    vertical-align: middle;
  }

  &__name-and-owners {
    padding-left: 1rem;
    flex-grow: 1;
  }

  &__team-name {
    font-size: var(--font-lg);
  }

  &__owners {
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--dim);

    a {
      color: var(--dim);
    }
  }

  &__record {
    color: var(--dim);
    font-size: var(--font-md);
    padding-left: 1.8rem;
  }

  &__wins-owner {
    padding-right: 0.75rem;
  }

  &__score {
    font-size: var(--font-xl);
    text-align: right;
  }

  &__footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-style: italic;
    font-size: var(--font-sm);
  }

  &__gambling {
    display: flex;
    flex-direction: row;

    div {
      padding: 0 5px;
    }
  }
}
