.team-rooting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &__wins-owner,
  &__losses-owner {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 10rem;
    flex-grow: 1;
  }

  &__wins-owner {
    text-align: right;
    color: #009800;
  }

  &__losses-owner {
    color: #aa0000;
  }

  &__logo {
    width: 6rem;

    @media (max-width: 500px) {
      width: 4rem;
    }
  }
}
